@model IEnumerable<StackOverflowReplica.Models.Question>

 @if (User.Identity.IsAuthenticated)
 {
<hr/>

@Html.ActionLink("Ask a Question", "Create")
} else {
    <p>@Html.ActionLink("Log in to post a question", "Login", "Account")</p>
}



@if (Model.Any())
{
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Votes</th>
      <th>Title</th>
	  <th>Responses</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
	<hr>
    @foreach (var question in Model)
    {
    	<tr>
			<td>@Html.ActionLink("Upvote", "VoteQuestion", "Question", new {id = question.Id, vote = 1}) 
			| @Html.ActionLink("Downvote", "VoteQuestion", "Question", new {id = question.Id, vote = -1})</td>
          <td>@Html.DisplayFor(modelQuestion => question.VoteCount)</td>
          <td>@Html.ActionLink((string)question.Title, "Details", "Question", new { QuestionId = question.Id })</td>
		  <td>@question.Responses.Count</td>
          <td>@Html.DisplayFor(modelQuestion => question.User.UserName)</td>
        </tr>
    }
	</tbody>
	</table>
}
else
{
    <p>No Questions</p>
}

